<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">
                <img src="../../../images/logo.png" style="display: inline-block;width:25px;">
                <span class="badge"style="display: inline-block; font-size:16px;">MoknJ</span>
            </a>
        </div>
        <div class="navbar-collapse collapse in" collapse="isCollapsed" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li class="dropdown" dropdown>
                    <a href="#" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">
                        Asset Menu&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">   
                        <li ng-repeat="menu in menus| filter:{menuType:'GBL_MT_ASSET'}">
                            <a ng-if='menu.id !== id' href="#/home?id={{menu.id}}">{{menu.name}}</a>
                        </li>
                        <li ng-show="!menus.length">
                            <a>No Menu's mapped</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{urls.create_menu_asset}}">
                                <span class="glyphicon glyphicon-tasks"></span>
                                &nbsp;Create Menu
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown" dropdown>
                    <a href="#" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">
                        Employee Menu&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">   
                        <li ng-repeat="menu in menus| filter:{menuType:'GBL_MT_EMPLOYEE'}">
                            <a ng-if='menu.id !== id' href="#/home?id={{menu.id}}">{{menu.name}}</a>
                        </li>
                        <li ng-show="!menus.length">
                            <a>No Menu's mapped</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{urls.create_menu_employee}}">
                                <span class="glyphicon glyphicon-tasks"></span>
                                &nbsp;Create Menu
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav nav-pills">
                <li><a style="font-size:14px;">{{name}}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" dropdown>
                    <a href="#" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">
                        Audit History&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">    
                        <li>
                            <a href="{{urls.link}}">
                                Asset
                            </a>
                        </li>
                        <li>
                            <a href="{{urls.employee_link}}">
                                Employee
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" dropdown>
                    <a href="#" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-wrench"></span>&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{urls.user}}">
                                <span class="glyphicon glyphicon-user"></span>
                                &nbsp;Setup Users
                            </a>
                        </li>
                        <li>
                            <a href="{{urls.menu}}">
                                <span class="glyphicon glyphicon-tasks"></span>
                                &nbsp;Setup Menu
                            </a>
                        </li>
                        <li> 
                            <a href="{{urls.template}}">
                                <span class="glyphicon glyphicon-credit-card"></span>
                                &nbsp;Setup Template
                            </a>
                        </li>
                        <li> 
                            <a href="{{urls.graph}}">
                                <span class="glyphicon glyphicon-dashboard"></span>
                                &nbsp;Setup Home
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{urls.hidden}}">
                                <span class="glyphicon glyphicon-eye-close"></span>
                                &nbsp;Hidden Templates
                            </a>
                        </li> 
                    </ul>
                </li>

                <li>
                    <a href="#/login">
                        <span class="glyphicon glyphicon-log-out"></span>
                        &nbsp;Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/><br/><br/><br/>

<div class="container-fluid bg-3">
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <div ng-show="success" class="alert alert-success">{{success}}</div>
</div>

<div class="container-fluid bg-3">
    <div ng-if='module === "GBL_MT_EMPLOYEE"'>
        <div ng-include='modules.employee.url' class="col-sm-12">
        </div>
    </div>
    <div ng-if='module === "GBL_MT_ASSET"'>
        <div ng-show="types.length > 1" class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-search"></span>
                &nbsp;Global Search
            </div> 
            <div class="input-group-addon">
                <global-type-search input-value="search" types="types"/>
            </div>
        </div>
        <div ng-repeat="type in types" ng-if='type.templateType === modules.asset.module' 
             ng-include='modules.asset.url' class="col-sm-12">
        </div>
    </div>
    <div ng-if='!id'>        
         <div ng-include='urls.display_home_graphs' class="col-sm-12"></div>
    </div>
</div>
