<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Asset Manager</a>
        </div>

        <div class="navbar-collapse collapse in" collapse="isCollapsed" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li class="dropdown" dropdown>
                    <a href="#" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">
                        Asset Menu <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" >
                        <li ng-repeat="type in types" >
                            <a href="#/asset?id={{type.id}}">{{type.name}}</a>
                        </li>
                        <li ng-show="!types.length">
                            <a href="#">no asset types</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/resource">Resources</a>
                </li>
                <li >
                    <a href="#/type">New Types<span class="sr-only">(current)</span>
                    </a>
                </li>     
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/login">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<div ng-show="success" class="alert alert-success">{{success}}</div>
<div class="container-fluid">
    <div ng-show="types.length > 1" class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-search"></span>
            &nbsp;&nbsp;Global Search
        </div> 
        <div class="input-group-addon">
            <input type="text" class="form-control" placeholder="Search" ng-model="search"/>   
        </div>
    </div>
</div>
<div class="container-fluid bg-3">
    <div ng-repeat="type in types" class="col-sm-12">
        <div class="row">
            <div class="table-responsive panel panel-primary">
                <div class="panel-heading">
                    <span data-toggle="tooltip" title="Expand {{type.name}}" style="cursor: pointer;" ng-show="type.newCollapse" class="glyphicon glyphicon-collapse-down" ng-click="type.newCollapse = !type.newCollapse"></span>
                    <span data-toggle="tooltip" title="Collapse {{type.name}}" style="cursor: pointer;" ng-show="!type.newCollapse" class="glyphicon glyphicon-collapse-up" ng-click="type.newCollapse = !type.newCollapse"></span>
                    <span data-toggle="tooltip" title="New {{type.name}}" ng-click="newAsset(type.id)" class="glyphicon glyphicon-new-window" style="cursor: pointer;"></span>
                    <lable style="cursor: pointer;" ng-click="type.newCollapse = !type.newCollapse">{{type.name}} ({{type.filterData.length}})</lable>                  
                    <span data-toggle="tooltip" title="Remove {{type.name}}" ng-click="removeType(type)" class="glyphicon glyphicon-remove-sign" style="cursor: pointer; float:right;"></span>                   	
                    <span style="float:right;">&nbsp;&nbsp;</span>
                    <span data-toggle="tooltip" title="Edit {{type.name}} Layout" ng-click="editType(type.id)" class="glyphicon glyphicon-edit" style="cursor: pointer; float:right;"></span>
                </div>
                <div collapse="type.newCollapse">
                    <div class="input-group-addon" ng-if="type.assets.length" >      
                        <input type="text" class="form-control" placeholder="Search here" ng-model="type.search">
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th ng-repeat="detail in type.details">{{detail.name}}</th>
                                    <th>assigned</th>
                                </tr>
                            </thead>
                            <tbody>       
                                <tr ng-repeat="asset in type.filterData = (type.assets.slice(
                                            ((type.assets.currentPage - 1) * type.assets.itemsPerPage)
                                            , ((type.assets.currentPage) * type.assets.itemsPerPage))|
                                                        filter:type.search | filter:search)" 
                                    ng-class="isEven($index)">
                                    <td style="width: 25px; cursor: pointer;">
                                        <span ng-if="!asset.linkedResource" data-toggle="tooltip" title="Remove {{type.name}} Asset" ng-click="removeAsset(asset, type.name)" class="glyphicon glyphicon-remove"></span>
                                        <span ng-if="asset.linkedResource" data-toggle="tooltip" title="{{type.name}} is checked out unable to delete!" class="glyphicon glyphicon-lock"></span>
                                    </td>
                                    <td style="width: 25px; cursor: pointer;"><span data-toggle="tooltip" title="Edit {{type.name}} Asset" ng-click="edit(asset.typeId, asset.id)" class="glyphicon glyphicon-edit"></span></td>
                                    <td style="width: 25px; cursor: pointer;"><span data-toggle="tooltip" title="View {{type.name}} Audit" ng-click="viewAudit(asset.id, type.name)" class="glyphicon glyphicon-eye-open"></span></td>
                                    <td ng-if="!asset.linkedResource" style="width: 25px; cursor: pointer;"><span data-toggle="tooltip" title="Check Out {{type.name}} Asseta"ng-click="assignAsset(asset, type.name)" class="glyphicon glyphicon-link"></span></td>
                                    <td ng-if="asset.linkedResource" style="width: 25px; cursor: pointer;"><span data-toggle="tooltip" title="Check In {{type.name}} Asseta"ng-click="removeLink(asset, type.name)" class="glyphicon glyphicon-flag"></span></td>

                                    <td ng-repeat="value in asset.details">
                                        <span ng-if="value.type === 'ASSET_INPUT_MON_TYPE'" ><span class="glyphicon glyphicon-euro"></span>{{value.value| currency: ""}}</span>
                                        <span ng-if="value.type === 'ASSET_INPUT_STR_TYPE'" >{{value.value}}</span>
                                        <span ng-if="value.type === 'ASSET_INPUT_INT_TYPE'" >{{value.value| number}}</span>
                                        <span ng-if="value.type === 'ASSET_INPUT_DAT_TYPE'" >{{value.value| date:'yyyy-MM-dd'}}</span>  
                                    </td>                                   
                                    <td>{{asset.linkedResource}}</td>
                                </tr>
                                <tr class="danger text-center" ng-if="!type.filterData.length"><td colspan="{{type.details.length + 5}}">No {{type.name}} Entries Found</td></tr> 
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <pagination ng-show="type.filterData.length"  
                                    total-items="type.assets.totalItems" 
                                    ng-model="type.assets.currentPage"  
                                    class="pagination-sm" 
                                    boundary-links="true" rotate="false"
                                    items-per-page="type.assets.itemsPerPage"></pagination> 
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
