<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <img src="../../../images/logo.png" style="display: inline-block;width:25px;">
                <span class="badge"style="display: inline-block; font-size:16px;">MoknJ</span>&nbsp;
                <span style="display: inline-block; font-size:16px;">{{name}}</span>
            </a>
        </div>

        <div class="navbar-collapse collapse in" collapse="isCollapsed" aria-expanded="true">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-if='menuId' href="#/home?id={{menuId}}"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;back</a>
                    <a ng-if='!menuId' href="#/home"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ng-show="error" class="alert alert-danger">{{error}}</div>
<div ng-show="success" class="alert alert-success">{{success}}</div>

<div class="container-fluid">
    <div ng-show="links.length" class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-search"></span>
            &nbsp;Search
        </div> 
        <div class="input-group-addon">
            <input type="text" class="form-control" placeholder="Search" ng-model="search"/>   
        </div>     
    </div>
</div>

<div class="container-fluid">
    <div class="table-responsive panel panel-primary">
        <div class="panel-heading">
            <span ng-if="loading">
                <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                &nbsp;
            </span> 
            <span class="glyphicon glyphicon-list"></span>
            &nbsp;Check in/out History 
            <span class="badge">{{pagination.searchSize}}</span>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Direction</th>
                    <th>Date</th>
                    <th>Employee</th>
                    <th>Asset</th>
                    <th>User</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>       
                <tr ng-repeat="link in filterData = (links| filterMultiple:[search] : pagination)" 
                    ng-class="isEven($index)">
                    <td>
                        {{link.checkedDir}}
                    </td>
                    <td>{{link.date}}</td>
                    <td>{{link.linkedResource}}</td>
                    <td>{{link.display}}</td>
                    <td>{{link.createdBy}}</td>
                    <td>{{link.createdDate}}</td>
                </tr>
                <tr class="active text-center" ng-if="!filterData.length"><td colspan="6">No Audit Entries Found</td></tr> 
            </tbody>
        </table>

        <div class="text-center">
            <pagination ng-show="pagination.searchSize"  
                        total-items="pagination.searchSize" 
                        ng-model="pagination.currentPage"  
                        class="pagination-sm" 
                        boundary-links="true" rotate="false"
                        items-per-page="pagination.itemsPerPage">      
            </pagination> 
        </div> 

    </div>
</div>