<div class="row">
    <div ng-repeat="line in lineCharts" class="col-sm-4">
        <h3 class="text-center">{{line.graphTitle}}</h3>
        <canvas class="chart chart-line" 
                chart-colors="colors" 
                chart-data="line.graphData" 
                chart-labels="line.xlabels" 
                height="100px" legend="true" 
                chart-series="line.ylabels"></canvas>
    </div>

    <div ng-repeat="bar in barCharts" class="col-sm-4">
        <h3 class="text-center">{{bar.graphTitle}}</h3>
        <canvas class="chart chart-bar" 
                chart-colors="colors" 
                chart-data="bar.graphData" 
                chart-labels="bar.xlabels" 
                height="100px" legend="true" 
                chart-series="bar.ylabels"></canvas>
    </div>

    <div ng-repeat="horz in horzCharts" class="col-sm-4">
        <h3 class="text-center">{{horz.graphTitle}}</h3>
        <canvas class="chart chart-horizontal-bar" 
                chart-colors="colors" 
                chart-data="horz.graphData" 
                chart-labels="horz.xlabels" 
                height="100px" legend="true" 
                chart-series="horz.ylabels"></canvas>
    </div>

    <div ng-repeat="pie in pieCharts" class="col-sm-4">
        <h3 class="text-center">{{pie.graphTitle}}</h3>
        <canvas class="chart chart-pie" 
                chart-colors="colors" 
                chart-data="pie.graphData" 
                chart-labels="pie.xlabels" 
                height="100px" legend="true" 
                chart-series="pie.ylabels"></canvas>
    </div>
</div>


