<div class="container-fluid" >
    <div class="panel-group">
        <div collapse="newCollapse">
            <div class="col-sm-2">
                <h4>Employees</h4>
                <div class="panel panel-default" >
                    <div class="DivToScroll">
                        <input type="text" class="form-control" placeholder="Search" ng-model="resourceSearch"/>
                        <div class="DivWithScroll">
                            <div class="list-group">
                                <a style="cursor:pointer;" 
                                   ng-repeat="resource in resources| filter :resourceSearch" 
                                   ng-class="isSelectedResource(resource)" 
                                   ng-click="selectResource(resource)">
                                    {{resource.firstName}}&nbsp;{{resource.surname}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"> 
                <h4>Menu</h4>
                <div class="DivToScroll">
                    <div class="DivWithScroll">
                        <div ng-repeat="type in types" class="list-group">
                            <div ng-show='type.templateType === modules.employee.module'>
                                <span style="cursor:pointer;" ng-class="isSelectedType(type)"  ng-click="setType(type)">
                                    <span class="caret"></span>
                                    &nbsp;{{type.name}}
                                </span>
                                <div ng-show="type.newCollapse">     
                                    <a style="cursor:pointer;"  class="list-group-item" ng-click="editType(type.id, 'employee')">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        &nbsp;Edit Template
                                    </a>
                                    <a style="cursor:pointer;"  class="list-group-item" ng-click="removeType(type)">
                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                        &nbsp;Delete Template
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <h4>
                    <span style="cursor:pointer;" ng-show="selectedType" class="badge" ng-click="newEmploye(selectedType.id)">
                        <span class="glyphicon glyphicon-new-window"></span>
                        &nbsp;New&nbsp;
                        <span ng-show="selectedResource">"{{selectedResource.firstName}}&nbsp;{{selectedResource.surname}}"</span>
                    </span>
                    {{selectedType.name}} 
                    <span ng-show="selectedType" class="badge">{{filterData.length}}</span>
                </h4>
                <div class="panel panel-default" ng-show="selectedType" >
                    <div class="DivToScroll">
                        <input type="text" class="form-control" placeholder="Search" ng-model="search"/>
                        <div class="DivWithScroll">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                        <th ng-repeat="detail in selectedType.details">{{detail.name}}</th>
                                        <th>Employee</th>
                                        <th>Last Modified</th>
                                    </tr>
                                </thead>
                                <tbody>  
                                    <tr ng-repeat="employee in filterData = (selectedType.employees| filter :search | filter:{ resourceId : selectedResource.id })" ng-class="isEven($index)" >
                                        <td style="width: 25px; cursor: pointer;">
                                            <span data-toggle="tooltip" title="Remove {{selectedType.name}}" ng-click="removeEmployee(employee, selectedType.name, selectedType.id)" class="glyphicon glyphicon-remove"></span>
                                        <td style="width: 25px; cursor: pointer;">
                                            <span data-toggle="tooltip" title="Edit {{selectedType.name}}" ng-click="editEmployee(employee.typeId, employee.id)" class="glyphicon glyphicon-edit"></span>
                                        </td>
                                        <td style="width: 25px; cursor: pointer;">
                                            <span data-toggle="tooltip" title="View {{selectedType.name}} Audit" ng-click="viewAudit(employee.id, selectedType.name)" class="glyphicon glyphicon-eye-open"></span>
                                        </td>
                                        <td ng-repeat="value in employee.details">
                                            <span ng-if="value.type === 'GBL_INPUT_MON_TYPE'" ><span ng-if="value.value" class="glyphicon glyphicon-euro"></span>{{value.value| currency: ""}}</span>
                                            <span ng-if="value.type === 'GBL_INPUT_TXT_TYPE'" >{{value.value}}</span>
                                            <span ng-if="value.type === 'GBL_INPUT_INT_TYPE'" >{{value.value}}</span>
                                            <span ng-if="value.type === 'GBL_INPUT_DRP_TYPE'" >{{value.value}}</span>
                                            <span ng-if="value.type === 'GBL_INPUT_DAT_TYPE'" >{{value.value| date:'yyyy-MM-dd'}}</span>  
                                        </td>                                   
                                        <td>{{employee.linkedResource}}</td>
                                        <td><span ng-if="employee.lastModifiedDate">{{employee.lastModifiedBy}} ({{employee.lastModifiedDate}})</span></td>
                                    </tr>
                                    <tr class="active text-center" ng-if="!selectedType.employees.length"><td colspan="{{selectedType.details.length + 5}}">No {{selectedType.name}} Entries Found</td></tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
