<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <img src="../../../images/logo.png" style="display: inline-block;width:25px;">
                <span class="badge"style="display: inline-block; font-size:16px;">MoknJ</span>&nbsp;
                <span style="display: inline-block; font-size:16px;">Users</span>
            </a>
        </div>

        <div class="navbar-collapse collapse in" collapse="isCollapsed" aria-expanded="true">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-if='menuId' href="#/home?id={{menuId}}"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;back</a>
                    <a ng-if='!menuId' href="#/home"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<div ng-show="success" class="alert alert-success">{{success}}</div>
<div class="container-fluid bg-3">
    <div class="panel panel-primary">
        <div data-toggle="tooltip" title="Expand/Collapse New/Update User" style="cursor: pointer;" class="panel-heading" ng-click="newCollapse = !newCollapse">
            <span ng-show="!newCollapse" class="glyphicon glyphicon-collapse-down"></span>
            <span ng-show="newCollapse"  class="glyphicon glyphicon-collapse-up"></span>
            <span ng-if="!resourceId">New User</span>
            <span ng-if="resourceId">Update User</span>
        </div>
        <form name="form" ng-submit="save()" role="form">
            <div collapse="!newCollapse" class="container-fluid bg-3">
                <div class="row">
                    <span>&nbsp;</span>
                </div> 
                <div class="form-group">
                    <label for="datatype">First name</label>
                    <i class="fa fa-key"></i>
                    <input ng-model="resource.firstName" type="text" name="firstName" id="firstName" class="form-control" required />
                    <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First Name is required</span>
                </div>

                <div class="form-group">
                    <label for="datatype">Surname</label>
                    <i class="fa fa-key"></i>
                    <input ng-model="resource.surname" type="text" name="surname" id="surname" class="form-control" required />
                    <span ng-show="form.surname.$dirty && form.surname.$error.required" class="help-block">Surname is required</span>
                </div>

                <div class="form-group">
                    <label for="datatype">Email</label>
                    <i class="fa fa-key"></i>
                    <input ng-model="resource.email" type="text" name="email" id="email" class="form-control" required />
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                </div>

                <div class="form-group">
                    <label for="datatype">Contact number</label>
                    <i class="fa fa-key"></i>
                    <input ng-model="resource.contactNumber" type="text" name="contactNumber" id="contactNumber" class="form-control" required />
                    <span ng-show="form.contactNumber.$dirty && form.contactNumber.$error.required" class="help-block">Contact Number is required</span>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading" style="cursor: pointer;" class="panel-heading" ng-click="resource.systemUser = !resource.systemUser">
                        <span ng-class="isSystemUser(resource.systemUser)"></span>&nbsp;System User
                    </div>
                    <div class="container-fluid" ng-if="resource.systemUser">
                        <div class="row">
                            <span>&nbsp;</span>
                        </div> 

                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <label for="datatype">Access rights</label>
                                </div> 
                                <div class="container-fluid">
                                    <div class="checkbox" ng-repeat="auth in authorities">    
                                        <label data-toggle="tooltip" title="{{auth.name}}s">
                                            <input type="checkbox" ng-model="auth.value"/>{{auth.name}}
                                        </label> 
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="datatype">Username</label>
                            <i class="fa fa-key"></i>
                            <input ng-model="resource.userName" type="text" name="userName" id="userName" class="form-control" required />
                            <span ng-show="form.userName.$dirty && form.userName.$error.required" class="help-block">User Name is required</span>
                        </div>

                        <div class="form-group">
                            <label for="datatype">Password</label>
                            <i class="fa fa-key"></i>
                            <input ng-model="resource.password" type="password" name="password" id="password" class="form-control" required />
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">password is required</span>
                        </div>
                    </div>
                </div>  

                <div class="input-group">
                    <div class="form-actions">
                        <button type="submit" ng-if="!resourceId" class="btn btn-primary">Submit</button>
                        <button type="submit" ng-if="resourceId" class="btn btn-primary">Update</button>
                        <button type="button" ng-if="!resourceId" ng-click="reset(true)" ng-disabled="dataLoading" class="btn btn-danger">Reset</button>
                        <button type="button" ng-if="resourceId" ng-click="cancel()" ng-disabled="dataLoading" class="btn btn-danger">Cancel</button>
                        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    </div>
                </div>
                <div class="row">
                    <span>&nbsp;</span>
                </div>    
            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div ng-show="resources.length" class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-search"></span>
            &nbsp;Search
        </div> 
        <div class="input-group-addon">
            <input type="text" class="form-control" placeholder="Search" ng-model="search"/>   
        </div>     
    </div>
</div>
<div class="container-fluid bg-3">
    <div class="table-responsive panel panel-primary">
        <div class="panel-heading">
            <span ng-if="loading">
                <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                &nbsp;
            </span> 
            <span>
                <span class="glyphicon glyphicon-list"></span>
                &nbsp;Users 
                <span class="badge">{{pagination.searchSize}}</span>
            </span>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Number</th>
                </tr>
            </thead>
            <tbody>       
                <tr ng-repeat="resource in filterData =
                                    (resources| filterMultiple:[search] : pagination)" 
                    ng-class="isEven($index)">
                    <td style="width: 25px; cursor: pointer;"><span data-toggle="tooltip" title="Edit User User" ng-click="editResource(resource.id)" class="glyphicon glyphicon-edit"></span></td>
                    <td style="width: 25px; cursor: pointer;"><span data-toggle="tooltip" title="Remove User User" ng-click="removeResource(resource)" class="glyphicon glyphicon-remove"></span></td>
                    <td>{{resource.firstName}}</td>
                    <td>{{resource.surname}}</td>
                    <td>{{resource.email}}</td>
                    <td>{{resource.contactNumber}}</td>
                </tr>
                <tr class="active text-center" ng-if="!filterData.length"><td colspan="6">No User Entries Found</td></tr> 
            </tbody>
        </table>

        <div class="text-center">
            <pagination ng-show="pagination.searchSize"  
                        total-items="pagination.searchSize" 
                        ng-model="pagination.currentPage"  
                        class="pagination-sm" 
                        boundary-links="true" rotate="false"
                        items-per-page="pagination.itemsPerPage">      
            </pagination> 
        </div> 

    </div>
</div>