<div class="modal-header">
    <h3 class="modal-title">{{name}}</h3>
</div>
<form name="form" ng-submit="ok()" role="form">
    <div class="container-fluid">
        <div class="modal-body">
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
            <div class="form-group">  
                <label for="datatype">Date</label>
                <p class="input-group">
                    <input type="text" name="date" id="date" class="form-control" uib-datepicker-popup ng-model="auditdate" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <span ng-show="form.date.$dirty && form.date.$error.required" class="help-block">Date is required</span>
            </div>

            <div class="form-group">
                <label for="datatype">Employee</label>
                <i class="fa fa-key"></i>
                <p class="input-group">
                    <input style="cursor: pointer;" ng-model="selected" type="text" ng-click="changeDiv()" name="resource" id="resource" class="form-control" readonly/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="changeDiv()"><span class="caret"></span></button>
                    </span>
                </p>
                <span ng-show="showResourceIsRequired" class="help-block">Employee is required</span>
                <div style="position:absolute" uib-collapse="!resourceCollapse" class="container-fluid">
                    <div class="panel panel-default">
                        <div class="input-group-addon">
                            <input type="text" class="form-control" placeholder="Search" ng-model="search"/>   
                        </div>
                        <div class="table-responsive">
                            <div class="panel panel-default">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr class="active text-center" ng-show="!filterData.length"><td colspan="1">No Employee Found</td></tr>        
                                        <tr ng-click="dropboxitemselected(resource)" 
                                            ng-repeat="resource in filterData = (resources| filterResources:[search] : pagination)" 
                                            style="cursor: pointer;" ng-class="isEven($index)">
                                            <td>{{resource.fullname}}</td>
                                        </tr>
                                    </tbody>
                                </table>  
                            </div>
                            <div class="text-center" ng-if="pagination.totalItems > 5">
                                <pagination ng-show="pagination.searchSize"  
                                            total-items="pagination.searchSize" 
                                            ng-model="pagination.currentPage"  
                                            class="pagination-sm" 
                                            boundary-links="false" rotate="false"
                                            items-per-page="pagination.itemsPerPage">      
                                </pagination>  
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        <button type="submit" class="btn btn-primary">Check Out</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
