<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"/>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../js/assetAdd.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="addAsset">

<noscript>
    <div class="nojs">Javascript is either disabled or not supported in your browser. Please enable it or use a
        Javascript enabled browser.
    </div>
</noscript>
<div class="container-fluid">
    <h4 style="color: #00b3ee">Insert Asset</h4>
<form name="assetForm" ng-submit="submitForm()" ng-controller="AddAssetController" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="form.name">Name</label>
        <div class="col-sm-10">
            <input type="text" ng-model="asset.name" name="form.name" id="form.name" class="form-control" placeholder="Name"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="form.description">Description</label>
        <div class="col-sm-10">
            <input type="text" ng-model="asset.description" name="form.description" id="form.description" class="form-control" placeholder="Description"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="form.price">Price</label>
        <div class="col-sm-10">
        <div class="input-group">
            <div class="input-group-addon">€</div>
                <input type="number" ng-model="asset.price" name="form.price" id="form.price" class="form-control" placeholder="Price"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="form.purchaseDate">Purchase Date</label>
        <div class="col-sm-10">
            <input type="date" ng-model="asset.purchaseDate" name="form.purchaseDate" id="form.purchaseDate" class="form-control" placeholder="Date Purchased"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="submit" ngClick="Submit" class="btn btn-primary">Save Asset</button>
        </div>
    </div>
</form>
</div>
</body>
</html>